In [ ]:
# show databases;
# create database study;
# create table study (sno int, name varchar(30));
# insert into study.study(sno, name) values(1,"ragu")
# insert into study.study values(2,"ram")
# update study.study set name="rajesh" where sno = 2;
# update study.study set name = 'ram',sno=2 where sno=100
# delete from study.study where sno=2;
# truncate table study.study;
# drop table study.study;
# drop database study;

# WITH (CTE) COMMON TABLE EXPRESSION
# TEMPORARY TABLE

In [ ]:
ALTER