### If Statements

1. Write an `if` statement that checks if a variable `x` is greater than 10.
2. Write an `if` statement that checks if a variable `y` is less than or equal to 5.
3. Write an `if` statement that checks if a string `name` is equal to "Alice".
4. Write an `if` statement that checks if a number `num` is even.
5. Write an `if` statement that checks if a variable `z` is positive.
6. Write an `if` statement that checks if a list `my_list` is not empty.
7. Write an `if` statement that checks if a variable `a` is between 1 and 100.
8. Write an `if` statement that checks if a string `password` contains "@".
9. Write an `if` statement that checks if a number `b` is a multiple of 5.
10. Write an `if` statement that checks if a string `s` starts with "Hello".

In [20]:
x = int(input("enter the value"))
if x>10:
    print(">10")

enter the value 11

>10

In [18]:
y = int(input("enter the value"))
if y<=5:
    print('yes')

enter the value 4

yes

In [16]:
name = 'Alice'

if name == 'Alice':
    print("yes")

yes

In [15]:
num = int(input("enter the value"))
if num%2==0:
    print("even")

enter the value 156

even

In [14]:
z=int(input("enter the value"))
if z>=0:
    print("+ve")

enter the value 10

+ve

In [13]:
l1=[]
l2=[1,2,3]
if not l1:
    print("l1 empty")
if not l2:
    print("l2 empty")

l1 empty

In [9]:
a =int(input("enter the value"))
if a>=1 and a<101:
    print('yes')

enter the value 28

yes

In [5]:
passw = input("enter the value")
if '@' in passw:
    print("yes")

enter the value pass@

yes

In [3]:
b =int(input("enter the value"))
if b%5==0:
    print("div by 5")

enter the value 5

div by 5

In [1]:
s='hello world'
if s.startswith("hello"):
    print("yes")

yes

### Nested If Statements pending

11. Write a nested `if` statement to check if `x` is greater than 10 and if `y` is less than 5.
12. Write a nested `if` statement to check if a variable `age` is between 18 and 65 and if `citizen` is True.
13. Write a nested `if` statement to check if `score` is greater than 90 and if `attendance` is greater than 80.
14. Write a nested `if` statement to check if a variable `temp` is below 0 and if `weather` is "snowy".
15. Write a nested `if` statement to check if a variable `grade` is "A" and if `passed` is True.

In [3]:
x=int(input("enter the value"))
y=int(input("enter the value"))

if x>10:
    if y<5:
        print("x>10,y<5")

enter the value 50
enter the value 2

x>10,y<5

In [4]:
citizen =True
age =int(input("enter the value"))
if citizen:
    if age >=18 and age<=65:
        print("yes")

enter the value 25

yes

In [1]:
grade ='A'
passed= True

if grade=='A':
    if passed:
        print("A-pass")

A-pass

### While Loops

26. Write a `while` loop that prints numbers from 1 to 10.
27. Write a `while` loop that prints the first 10 even numbers.
28. Write a `while` loop that prints the first 10 odd numbers.
29. Write a `while` loop that prints the multiplication table of 5.
30. Write a `while` loop that prints the Fibonacci sequence up to the 10th term.

In [5]:
i = 1
while i<=10:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

In [7]:
i = 1
while i<=10:
    if i%2==0:
        print(i)
    i+=1

2
4
6
8
10

In [8]:
i = 1
while i<=10:
    if i%2==1:
        print(i)
    i+=1

1
3
5
7
9

In [11]:
i = 1
while i<=10:
    print(f"{i} X {5} = {i*5}")
    i+=1

1 X 5 = 5
2 X 5 = 10
3 X 5 = 15
4 X 5 = 20
5 X 5 = 25
6 X 5 = 30
7 X 5 = 35
8 X 5 = 40
9 X 5 = 45
10 X 5 = 50

In [13]:
a,b = 0,1
i = 1
while i <=10:
    print(a)
    a,b=b,a+b
    i+=1

0
1
1
2
3
5
8
13
21
34

### While Loops with Condition

31. Write a `while` loop that continues until the user enters "stop".
32. Write a `while` loop that prints the sum of numbers from 1 to 100.
33. Write a `while` loop that prints all the characters of a string `s`.
34. Write a `while` loop that finds the factorial of a number `n`.
35. Write a `while` loop that prints all the elements of a list `my_list`.

In [16]:
while True:
    val= input("enter the value")
    if val =='stop':
        break

enter the value eirg
enter the value xfhgberf
enter the value stop

In [17]:
i=1
s=0
while i<=100:
    s+=i
    i+=1
print(s)

5050

In [18]:
s='hello word'
i=0
while i<len(s):
    print(s[i])
    i+=1

h
e
l
l
o

w
o
r
d

In [22]:
n=int(input("enter the value"))
fact=i=1

while i<=n:
    fact*=i
    i+=1
print(fact)

enter the value 4

24

In [23]:
l = [1,2,3,4,5,6,7,8,9,10]
i=0
while i<len(l):
    print(l[i])
    i+=1

1
2
3
4
5
6
7
8
9
10

### While Loop with Break

36. Write a `while` loop that breaks when a number is greater than 50.
37. Write a `while` loop that breaks when a string `s` contains the character "a".
38. Write a `while` loop that breaks when the sum of numbers exceeds 100.
39. Write a `while` loop that breaks when the user inputs "exit".
40. Write a `while` loop that breaks when a random number is equal to 7.m

In [28]:
while True:
    n = int(input("enter the value"))
    if n>50:
        print("break")
        break

enter the value 2
enter the value 5
enter the value 50
enter the value 51

break

In [31]:
len(s)

5

In [32]:
s='start'
i=0
while i<=len(s):
    print(s[i])
    if s[i]=='a':
        break
    i+=1

s
t
a

In [27]:
while True:
    n1 = int(input("enter the value"))
    n2 = int(input("enter the value"))
    s = n1+n2
    print(s)
    if s>100:
        print("Break")
        break

enter the value 58
enter the value 1

59

enter the value 55
enter the value 55

110
Break

In [33]:
while True:
    ip = input("enter the value")
    if ip == 'exit':
        break

enter the value sdf
enter the value srg
enter the value edrhw
enter the value awdth
enter the value exit

In [34]:
while True:
    ip =int(input("enter the value"))
    if ip==7:
        break

enter the value 4
enter the value 5
enter the value 6
enter the value 7

### For Loops

41. Write a `for` loop that prints numbers from 1 to 10.
42. Write a `for` loop that prints the first 10 even numbers.
43. Write a `for` loop that prints the first 10 odd numbers.
44. Write a `for` loop that prints the multiplication table of 5.
45. Write a `for` loop that prints the Fibonacci sequence up to the 10th term.

In [36]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [37]:
for i in range(1,11):
    if i%2==0:
        print(i)

2
4
6
8
10

In [38]:
for i in range(1,11):
    if i%2==1:
        print(i)

1
3
5
7
9

In [39]:
for i in range(10):
    print(f"{i+1} X {5} = {(i+1)*5}")

1 X 5 = 5
2 X 5 = 10
3 X 5 = 15
4 X 5 = 20
5 X 5 = 25
6 X 5 = 30
7 X 5 = 35
8 X 5 = 40
9 X 5 = 45
10 X 5 = 50

In [40]:
a,b=0,1
for i in range(10):
    print(a)
    a,b=b,a+b

0
1
1
2
3
5
8
13
21
34

### For Loops with Lists

46. Write a `for` loop that prints all the elements of a list `my_list`.
47. Write a `for` loop that prints the square of each number in a list `numbers`.
48. Write a `for` loop that prints all the strings in a list `strings` in uppercase.
49. Write a `for` loop that prints the length of each string in a list `words`.
50. Write a `for` loop that prints the cumulative sum of numbers in a list `numbers`.

In [41]:
l = [1,2,3,4,5,6,7,8,9,10]
for i in l:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [42]:
l = [1,2,3,4,5,6,7,8,9,10]
for i in l:
    print(i**2)

1
4
9
16
25
36
49
64
81
100

In [46]:
s = ["hello", "world"]
for i in s:
    print(i.upper())

HELLO
WORLD

In [47]:
s = ["hello", "world"]
for i in s:
    print(len(i))

5
5

In [48]:
l = [1,2,3,4,5,6,7,8,9,10]
s=0
for i in l:
    s+=i
print(s)

55

### For Loops with Range

51. Write a `for` loop that prints numbers from 1 to 10 using `range`.
52. Write a `for` loop that prints the first 10 even numbers using `range`.
53. Write a `for` loop that prints the first 10 odd numbers using `range`.
54. Write a `for` loop that prints numbers from 10 to 1 using `range`.
55. Write a `for` loop that prints every third number from 0 to 30 using `range`.

In [49]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [50]:
for i in range(1,11):
    if i%2==0:
        print(i)

2
4
6
8
10

In [51]:
for i in range(1,11):
    if i%2==1:
        print(i)

1
3
5
7
9

In [53]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [54]:
for i in range(0,31,3):
    print(i)

0
3
6
9
12
15
18
21
24
27
30

In [57]:
nums = "0123456789"

ip = input("enter the value")

for i in nums:
    count = 0
    for j in ip:
        if i==j:
            count+=1
    if count:
        print(f"{i} repeated {count} times")

enter the value 001144229975556666666666

0 repeated 2 times
1 repeated 2 times
2 repeated 2 times
4 repeated 2 times
5 repeated 3 times
6 repeated 10 times
7 repeated 1 times
9 repeated 2 times

In [ ]:
int(input("enter the value"))