In [3]:
num1 = int(input("Enter num1"))
num2 = int(input("Enter num2"))

if num1<num2:
    print("num1 is lowest")
else:
    print("num2 is lowest")

Enter num1 1
Enter num2 2

num1 is lowest

In [4]:
l = [-4,-6,-7,1,2]
l1=[]
for i in l:
    if i>0:
        l1.append(i)
l1

[1, 2]

In [14]:
num1 = int(input("Enter num1"))
if num1>10000:
    print(num1*0.8)
    print(0.8)
elif num1>7000:
    print(num1*0.85)
    print(0.85)
else:
    print(num1*0.9)
    print(0.9)

Enter num1 7000

6300.0
0.9

In [55]:
a,b=0,1
for i in range(3):
    print(a)
    c=a+b
    a=b
    b=c

0
1
1

In [21]:
num = [9,10,6,7,8]
for i in num:
    if i%3==0:
        break
print(i)

9

In [18]:
num1 = int(input("Enter num1"))
if num1<2:
    print("enter more than 1")
else:
    for i in range(2,num1):
        if num1%i==0:
            print("not prime")
            break
    else:
        print("prime")

Enter num1 23

prime

In [22]:
my_word = 'hello world'
vow = 'aeiouAEIOU'
count = 0
for i in vow:
    for j in my_word:
        if i==j:
            count+=1
print(count)

3

In [25]:
k=[1,2,3,4]
j=[4,5,3,7]
l=[]
for i in k:
    for m in j:
        if i==m:
            l.append(i)
print(l)

[3, 4]

In [26]:
course = ['AJITH','ARUN','ABRAHAM','BABU','BASKAR']
l=[]
count=0
for i in course:
    count+=1
    if i.startswith("A"):
        l.append(i)
print(l)
print(count)

['AJITH', 'ARUN', 'ABRAHAM']
5

In [28]:
sales=0
for i in range(7):
    num1 = int(input("Enter num1"))
    sales+=num1
print("sales",sales)

Enter num1 1
Enter num1 2
Enter num1 3
Enter num1 4
Enter num1 5
Enter num1 6
Enter num1 7

sales 28

In [31]:
se = 'i am doing data science'
se[11:15]

'data'

In [20]:
name = 'ramaya'
name = name[0:3]+name[4::]
name

'ramya'

In [51]:
age = int(input("Age"))
if age<13:
    print('child')
elif age<=19:
    print('teenager')
elif age<=64:
    print('adult')
else:
    print('senior')

Age 61

adult

In [36]:
str1='hello'
str2='hiii'
l=[]
for i in str1:
    for j in str2:
        if i==j:
            l.append(j)
print(l)

['h']

In [56]:
large=0
for i in range(3):
    num1 = int(input("Enter num1"))
    if num1>large:
        large=num1
print(large)

Enter num1 5
Enter num1 7
Enter num1 2

7

In [40]:
word = input("word")
rev=""
for i in word:
    rev=i+rev
print(rev)

word name

eman

In [41]:
course = ['python','power bi', 'sql']
course.append('html')

In [42]:
course

['python', 'power bi', 'sql', 'html']

In [44]:
course.insert(1,'css')
course

['python', 'css', 'power bi', 'sql', 'html']

In [45]:
course.index('sql')

3

In [46]:
course=set(course)
course

{'css', 'html', 'power bi', 'python', 'sql'}

In [47]:
course=tuple(course)
course

('css', 'power bi', 'sql', 'python', 'html')

In [49]:
def conv(a):
    a=list(a)
    a.clear()
    a=tuple(a)
    return a

In [50]:
course = conv(course)
course

()