In [3]:
list1 = [1,2,3,4,5,6]
list1

[1, 2, 3, 4, 5, 6]

In [7]:
if list1[2]==2:
    print("it is 2")
elif list1[3]==3:
    print('it is 3')
else:
    print('something else')

something else

for loop

In [10]:
list1

[1, 2, 3, 4, 5, 6]

In [12]:
for _ in list1:
    print(_)

1
2
3
4
5
6

In [14]:
for _ in 'Hello World':
    print(_)

H
e
l
l
o

W
o
r
l
d

In [17]:
for _ in range(10):
    print(_)

0
1
2
3
4
5
6
7
8
9

In [27]:
for num in range(20):
    if num % 2== 0 and num>1:
        print(f'{num} is even number')
    else:
        print(f'{num} is odd number')

0 is odd number
1 is odd number
2 is even number
3 is odd number
4 is even number
5 is odd number
6 is even number
7 is odd number
8 is even number
9 is odd number
10 is even number
11 is odd number
12 is even number
13 is odd number
14 is even number
15 is odd number
16 is even number
17 is odd number
18 is even number
19 is odd number

In [29]:
list1

[1, 2, 3, 4, 5, 6]

In [32]:
sum = 0
for num in list1:
    sum +=num
    print(sum)

1
3
6
10
15
21

In [34]:
listtupple = [(1,2,3),(4,5,6),(7,8,9)]
listtupple

[(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [71]:
for a,b,c in listtupple:
    print(a)
    print(c)
    print(b)
    print(a,b,c)
print ('\n',a)

1
3
2
1 2 3
4
6
5
4 5 6
7
9
8
7 8 9

 7

In [54]:
listdict = {"Apple":120,"orange":50,"mango":80}
print(listdict)
print(listdict.items())
print(listdict.keys())
print(listdict.values())

{'Apple': 120, 'orange': 50, 'mango': 80}
dict_items([('Apple', 120), ('orange', 50), ('mango', 80)])
dict_keys(['Apple', 'orange', 'mango'])
dict_values([120, 50, 80])

In [59]:
for k in listdict.keys():
    print(k)
for k in listdict.items():
    print(k)
for k in listdict.values():
    print(k)

Apple
orange
mango
('Apple', 120)
('orange', 50)
('mango', 80)
120
50
80

In [66]:
for k in listdict:
    print(k)
for k,v in listdict.items():
    print(v)

Apple
orange
mango
120
50
80

In [70]:
print(sorted(list(listdict.values())))
print(sorted(list(listdict.keys())))

[50, 80, 120]
['Apple', 'mango', 'orange']

While loop

In [83]:
obserevd = 50
target = 100

while obserevd<=target:
    print('Observed value is {} less tan target value {}\nIncreasing observed value by 3'.format(obserevd,target))
    obserevd+=3
else:
    print('meets target')

Observed value is 50 less tan target value 100
Increasing observed value by 3
Observed value is 53 less tan target value 100
Increasing observed value by 3
Observed value is 56 less tan target value 100
Increasing observed value by 3
Observed value is 59 less tan target value 100
Increasing observed value by 3
Observed value is 62 less tan target value 100
Increasing observed value by 3
Observed value is 65 less tan target value 100
Increasing observed value by 3
Observed value is 68 less tan target value 100
Increasing observed value by 3
Observed value is 71 less tan target value 100
Increasing observed value by 3
Observed value is 74 less tan target value 100
Increasing observed value by 3
Observed value is 77 less tan target value 100
Increasing observed value by 3
Observed value is 80 less tan target value 100
Increasing observed value by 3
Observed value is 83 less tan target value 100
Increasing observed value by 3
Observed value is 86 less tan target value 100
Increasing observed value by 3
Observed value is 89 less tan target value 100
Increasing observed value by 3
Observed value is 92 less tan target value 100
Increasing observed value by 3
Observed value is 95 less tan target value 100
Increasing observed value by 3
Observed value is 98 less tan target value 100
Increasing observed value by 3
meets target

In [8]:
x=0
while x<=20:
    print(x)
    y=x
    x+=1
    if y==15:
        print("x is 15")
        continue
    else:
        print("continueing...")

0
continueing...
1
continueing...
2
continueing...
3
continueing...
4
continueing...
5
continueing...
6
continueing...
7
continueing...
8
continueing...
9
continueing...
10
continueing...
11
continueing...
12
continueing...
13
continueing...
14
continueing...
15
x is 15
16
continueing...
17
continueing...
18
continueing...
19
continueing...
20
continueing...

In [10]:
x=0
while x<=20:
    print(x)
    y=x
    x+=1
    if y==15:
        print("x is 15")
        break
    else:
        print("continueing...")

0
continueing...
1
continueing...
2
continueing...
3
continueing...
4
continueing...
5
continueing...
6
continueing...
7
continueing...
8
continueing...
9
continueing...
10
continueing...
11
continueing...
12
continueing...
13
continueing...
14
continueing...
15
x is 15

In [12]:
x=0
while x<=20:
    print(x)
    y=x
    x+=1
    if y==15:
        print("x is 15")
        pass
    else:
        print("continueing...")

0
continueing...
1
continueing...
2
continueing...
3
continueing...
4
continueing...
5
continueing...
6
continueing...
7
continueing...
8
continueing...
9
continueing...
10
continueing...
11
continueing...
12
continueing...
13
continueing...
14
continueing...
15
x is 15
16
continueing...
17
continueing...
18
continueing...
19
continueing...
20
continueing...

In [14]:
# Python program to demonstrate
# difference between pass and
# continue statements

s = "geeks"

# Pass statement
for i in s:
	if i == 'k':
		print('Pass executed')
		pass
	print(i)

print()
	
# Continue statement
for i in s:
	if i == 'k':
		print('Continue executed')
		continue
	print(i)

g
e
e
Pass executed
k
s

g
e
e
Continue executed
s

In [18]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [20]:
list(enumerate('abcde'))

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd'), (4, 'e')]

In [23]:
set(list(enumerate(range(0,10))))

{(0, 0),
 (1, 1),
 (2, 2),
 (3, 3),
 (4, 4),
 (5, 5),
 (6, 6),
 (7, 7),
 (8, 8),
 (9, 9)}

In [29]:
tup = (1,2,3,4,5)
tuple(enumerate(tup))

((0, 1), (1, 2), (2, 3), (3, 4), (4, 5))

In [43]:
dict = {'a':10,'b':20,'c':30}
x= list(dict.values())
list(enumerate(dict.items()))

[(0, ('a', 10)), (1, ('b', 20)), (2, ('c', 30))]