# for loop

In [1]:
num = [10,13,15,14,18]

for i in num:
    print(i)

10
13
15
14
18

### even number print

In [2]:
num = [10,13,15,14,18]

for i in num:
    if i%2==0:
        print(i)

10
14
18

In [5]:
num = [1,2,3,45,5,6,78,9,2,5,6,2,8,484,494,68,4]
res=[]
for i in num:
    if i%2==0:
        res.append(i)
print(res)

[2, 6, 78, 2, 6, 2, 8, 484, 494, 68, 4]

In [3]:
name = 'i am rajesh'

for i in name:
    print(i)

i

a
m

r
a
j
e
s
h

### reverse list

In [4]:
num = [1,2,3,45,5,6,78,9,2,5,6,2,8,484,494,68,4]
res=[]
for i in num:
    if i%2==0:
        res.append(i)
        print(res)
print(res)

[2]
[2, 6]
[2, 6, 78]
[2, 6, 78, 2]
[2, 6, 78, 2, 6]
[2, 6, 78, 2, 6, 2]
[2, 6, 78, 2, 6, 2, 8]
[2, 6, 78, 2, 6, 2, 8, 484]
[2, 6, 78, 2, 6, 2, 8, 484, 494]
[2, 6, 78, 2, 6, 2, 8, 484, 494, 68]
[2, 6, 78, 2, 6, 2, 8, 484, 494, 68, 4]
[2, 6, 78, 2, 6, 2, 8, 484, 494, 68, 4]

In [6]:
num1 = [10,13,15,17,20]
res=[]
for i in num1:
    if i%5==0:
        res.append(i)
print(res)

[10, 15, 20]

### sum

In [7]:
num = [10,20,30,40,50,60,70,80,90,100,110]
total = 0
for i in num:
    total+=i
    print(total)
print(total)

10
30
60
100
150
210
280
360
450
550
660
660

In [14]:
num = [10,20,30,40,50,60,70,80,90,100,110]
total = 0
for i in num:
    total+=i
print(total)

660

In [15]:
print(sum(num))

660

In [16]:
num = [10,25,30,40,50,60,70,80,33,100,110]
total = 0
for i in num:
    if i %2==0:
        total+=i
print(total)

550

In [17]:
print(len(num))

11

In [18]:
num = [10,25,30,40,50,60,70,80,33,100,110]
count = 0
for i in num:
    count+=1
print(count)

11

In [30]:
num = [10,25,30,40,50,60,70,80,33,100,110]
total=count=0

for i in num:
    if i%2==0:
        total=total+i
    else:
        count=count+1
print(total)
print(count)

550
2

### work with alpha

In [34]:
names = ['abi','mukesh','saif','akash']
new=[]

for i in names:
    if i.startswith('a'):
        new.append(i)
print(new)

['abi', 'akash']

In [35]:
i.startswith('a')

True

In [44]:
word = "hello123"
count = 0
count1 =0
for i in word:
    if i.isalpha():
        count+=1
    if i.isdigit():
        count1 +=1
print(count)
print(count1)

5
3

In [40]:
i.isnumeric()

True

In [48]:
num = [10,225,30,400,50,600,70,80,33,1000,110]
large = num[0]

for i in num:
    if i>large:
        large = i
        # print(large)
print(large)

1000

In [1]:
word = str(input('Enter a word'))
rev = ''
for i in word:
    rev = i+rev
if word == rev:
    print('palnidrome')
else:
    print('not a palindrome')

Enter a word madam

palnidrome

In [2]:
word = 'softlogic'
vowels = 'aeiouAEIOU'
count = 0
for i in word:
    if i in vowels:
        count+=1
print(count)

3

In [3]:
word = 'softlogic'
vowels = 'aeiouAEIOU'
count = 0
let = []
for i in word:
    if i in vowels:
        count+=1
        let.append(i)
print(count)
print(len(set((let))))
print(set((let)))

3
2
{'i', 'o'}

In [4]:
l =[]
for i in range(10,20+1):
    if i%3==0:
        l.append(i)
print(l)

[12, 15, 18]

In [5]:
l =[]
s = 0
for i in range(100,150+1):
    if i%7==0:
        l.append(i)
        s+=i
print(l)
print(s)

[105, 112, 119, 126, 133, 140, 147]
882

### factorial

In [6]:
ip = int(input('Enter a Num'))
fac = 1
for i in range(1,ip+1):
    fac *=i
    print(i)
print(fac)

Enter a Num 10

1
2
3
4
5
6
7
8
9
10
3628800

### tables

In [7]:
ip = int(input("Enter a num:"))
for i in range(1,10+1):
    d=ip*i
    print(i,"x",ip,"=",d)

Enter a num: 5

1 x 5 = 5
2 x 5 = 10
3 x 5 = 15
4 x 5 = 20
5 x 5 = 25
6 x 5 = 30
7 x 5 = 35
8 x 5 = 40
9 x 5 = 45
10 x 5 = 50

In [8]:
ip = int(input("Enter a num:"))
s=0
for i in range(1,10+1):
    d=ip*i
    s+=d
    print(i,"x",ip,"=",d)
print(s)

Enter a num: 2

1 x 2 = 2
2 x 2 = 4
3 x 2 = 6
4 x 2 = 8
5 x 2 = 10
6 x 2 = 12
7 x 2 = 14
8 x 2 = 16
9 x 2 = 18
10 x 2 = 20
110

In [1]:
s = 0
for i in range(1,5+1):
    num = int(input("Enter the number"))
    s+=num
print('sum is',s)

Enter the number 5
Enter the number 5
Enter the number 2
Enter the number 2
Enter the number 6

sum is 20

In [2]:
l=[]
for i in range(5):
    name = str(input("Enter the name:")).lower().strip()
    if name.startswith('a'):
        l.append(name)
print(l)

Enter the name: jhbdf
Enter the name: ajbuygdf
Enter the name: auguygrf
Enter the name: fgubhifg
Enter the name: ajhug

['ajbuygdf', 'auguygrf', 'ajhug']

In [3]:
1**3+5**3+3**3

153

In [11]:
l=input("num")
len(l)

num 554

3

In [14]:
l = 15658468
len(str(l))

8

### armstag number

In [38]:
 for i in range(10000000):   
    # num = int(input("Num:"))
    num =i
    tot = 0
    leng = len(str(num))
    for i in str(num):
        d = int(i)**leng
        tot+=d
    if num==tot:
        print(tot)
        print("Armstrag num")
    # else:
    #     print("Not an armstrong num")

0
Armstrag num
1
Armstrag num
2
Armstrag num
3
Armstrag num
4
Armstrag num
5
Armstrag num
6
Armstrag num
7
Armstrag num
8
Armstrag num
9
Armstrag num
153
Armstrag num
370
Armstrag num
371
Armstrag num
407
Armstrag num
1634
Armstrag num
8208
Armstrag num
9474
Armstrag num
54748
Armstrag num
92727
Armstrag num
93084
Armstrag num
548834
Armstrag num
1741725
Armstrag num
4210818
Armstrag num
9800817
Armstrag num
9926315
Armstrag num

In [22]:
4**2+8**2

80

In [29]:
num = [10,20,30,40,50]
total = count =0
for i in num:
    total+=i
    count+=1
print(total/count)

30.0

# breaking loop

In [40]:
num = [1,2,3,4,5,6,7,8,9]

for i in num:
    if i%5==0:
        break
    print(i)

1
2
3
4

In [41]:
num = [3,6,7,8,10]

for i in num:
    if i%2==0:
        print(i)
        break

6

### star pattern

In [74]:
num = int(input("Enter the num"))
for i in range(num):
    for j in range(i+1):
        print('*',end='')
    print()

Enter the num 5

*
**
***
****
*****

In [71]:
num = int(input("Enter the num"))
for i in range(num):
    for j in range(i,num):
        print('*',end='')
    print()

Enter the num 5

*****
****
***
**
*

# interview qus

In [17]:
a=0
b=1

for i in range(int(input("Enter the range"))):
    print(a)
    c=a+b
    a=b
    b=c

Enter the range 5

0
1
1
2
3

In [42]:
a=0
b=1

for i in range(int(input("Enter the range"))):
    print(a)
    # a=a+b
    # b=a-b
    # a=a-b
    a,b = b, a+b

Enter the range 5

0
1
1
2
3

In [29]:
n = int(input("Enter the num"))
a=0
b=1

if n==1:
    print(a)

else:
    print(a)
    print(b)
    for i in range(2,n):
        c=a+b
        a=b
        b=c
        print(c)

Enter the num 5

0
1
1
2
3

### sum of natural nums

In [35]:
n=int(input("Enter number"))
s = 0
for i in range(1,n+1):
    s+=i
print(f"Sum of the natural number upto {n} is {s}")

Enter number 10

Sum of the natural number upto 10 is 55

In [33]:
1+2+3+4+5+6+7+8+9+10

55

In [37]:
n=int(input("Enter number"))
s = 0
for i in range(1,n+1):
    s+=i**2
print(f"Sum of the squre of natural number upto {n} is {s}")

Enter number 10

Sum of the squre of natural number upto 10 is 385

In [38]:
1+2*2+3*3+4*4+5*5+6*6+7*7+8*8+9*9+10*10

385

# while loop

excecutes a block of code until the condition remains true

for loop finite loop
while loop infinite loop

In [47]:
name = input("Enter the name")
while name=='':
    name=input("Enter the correct name")
print("Entered name is", name)

Enter the name
Enter the correct name
Enter the correct name
Enter the correct name
Enter the correct name
Enter the correct name
Enter the correct name
Enter the correct name
Enter the correct name
Enter the correct name rajesh

Entered name is rajesh

In [46]:
age = int(input("Enter the age"))

while age<18:
    age=int(input("Are you 18+, please Enter the age again"))

print("Your age is",age)

Enter the age 2
Are you 18+, please Enter the age again 5
Are you 18+, please Enter the age again 5
Are you 18+, please Enter the age again 0
Are you 18+, please Enter the age again 22

Your age is 22

In [48]:
num = 1
while num<11:
    print(num)
    num+=1

1
2
3
4
5
6
7
8
9
10

In [49]:
num = 10

while num>0:
    print(num)
    num-=1

10
9
8
7
6
5
4
3
2
1

### fibonaci nums

In [1]:
a,b=0,1
for _ in range(int(input('Range :'))):
    print(a)
    a,b=b,a+b

Range : 5

0
1
1
2
3

In [5]:
n=9
if n in range(10):
    print("yes")
else:
    print("no")

yes

In [6]:
n=9
if n in range(10):
    print("yes")
else:
    print("no")

yes

### factorial

In [8]:
num = int(input("num"))
fact=1
for i in range(1,num+1):
    fact*=i
print(fact)

num 5

120

In [14]:
num = int(input("num"))
i=fact=1
while i in range(1,num+1):
    fact*=i
    i+=1
print(fact)

num 4

24

In [10]:
num = int(input("num"))
i=fact=1
while i<=num:
    fact*=i
    i+=1
print(fact)

num 5

120

In [15]:
1*2*3*4

24

In [57]:
import mysql.connector

# Establish connection
conn = mysql.connector.connect(
    host="localhost",  # Example: "localhost"
    user="root",
    password="password"
)

# Create cursor
cursor = conn.cursor()

# Execute query to show databases
cursor.execute("SHOW DATABASES")

# Fetch and print results
for db in cursor.fetchall():
    print(db[0])

# Close connection
cursor.close()
conn.close()

information_schema
mysql
performance_schema
sys